<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Miracle Pills.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAD3DC371F10B8AD009804E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAD3DC4B1F10B8AF009804E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAD3DC561F10B8AF009804E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
